<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>treeLevels</key>
    <array>
        <dict>
            <key>waterTimes</key>
            <integer>0</integer>
            <key>treeLevel</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>6</integer>
            <key>treeLevel</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>11</integer>
            <key>treeLevel</key>
            <integer>3</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>16</integer>
            <key>treeLevel</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>21</integer>
            <key>treeLevel</key>
            <integer>5</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>26</integer>
            <key>treeLevel</key>
            <integer>6</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>31</integer>
            <key>treeLevel</key>
            <integer>7</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>36</integer>
            <key>treeLevel</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>41</integer>
            <key>treeLevel</key>
            <integer>9</integer>
        </dict>
        <dict>
            <key>waterTimes</key>
            <integer>46</integer>
            <key>treeLevel</key>
            <integer>10</integer>
        </dict>
    </array>
</dict>
</plist>
